body {
  padding-top: 5rem;
}

.social-icons {
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.social-icons li a {
    color: #f8f8f8;
    font-size: 22px;
}

.skill-icons {
    padding: 0;
    margin: 0;
    text-align: center;
}

.skill-icons li {
    display: inline;
    margin: 0px 60px 0px auto;
    color: #343a40;
    font-size: 62px;
    text-align: center;
}

.jumbotron {
    height: 1px;
    padding: 0;
    border-radius: 0;
    background-color: #343a40;
}