<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Konrad Kur - Architect / Senior Python Developer</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/icons/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="../dist/css/style.min.css" rel="stylesheet">
    <style>
        .cv-title { font-size: 14px; }
        .cv-content { font-size: 12px;  }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="lowercase"><strong>konrad kur</strong></h1>
      <h2 class="lowercase">architect / senior python developer</h2>
      <ul class="skill-icons text-center">
        <li class="ion-social-python"></li>
        <li class="ion-social-javascript"></li>
        <li class="ion-social-angular"></li>
        <li class="ion-social-html5"></li>
        <li class="ion-social-css3"></li>
        <li class="ion-social-sass"></li>
        <li class="ion-social-android"></li>
        <li class="ion-social-tux"></li>
      </ul>
        <p class="lowercase cv-title">
            konrad.kur@gmail.com<br />
            stargard, poland<br />
            tel. +48 609 341 608<br />
            <a href="http://kurkonrad.github.io/summary/">http://kurkonrad.github.io/summary/</a>
        </p><hr />
        <p class="lowercase cv-title">
            <strong>experience</strong><br /><br />
            architect / senior python developer<br />
            <strong>self-employed</strong> | 01-01-2010 - today<br />
            <span class="text-muted lowercase cv-content">more information after first contact</span>
        </p>
        <p class="lowercase cv-title">
            cto / team leader<br />
            <strong>clover sp. z o.o.</strong> | 01-05-2014 - 01-08-2015<br />
            <span class="text-muted lowercase cv-content">more information after first contact</span>
        </p>
        <p class="lowercase cv-title">
            architect / senior python developer<br />
            <strong>bluesoft sp. z o.o.</strong> | 01-01-2014 - 01-05-2014<br />
            <span class="text-muted lowercase cv-content">more information after first contact</span>
        </p>
        <p class="lowercase cv-title">
            software developer<br />
            <strong>uniezto technologies s.a.</strong> | 01-05-2012 - 01-01-2014<br />          <span class="text-muted lowercase cv-content">more information after first contact</span>
        </p><hr />
        <p class="lowercase cv-title">
            <strong>skills</strong><br /><br />
            <span class="text-muted lowercase cv-content">Python, Django, Flask, Linux, git, http, REST, PostgreSQL, MySQL, wsgi, JavaScript</span>
        </p><hr />
          <p class="text-muted lowercase cv-content">
            feel free to contact me
          </p>
    </div>
  </body>
</html>
