<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Konrad Kur - Architect / Senior Python Developer</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/icons/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="../dist/css/style.min.css" rel="stylesheet">
    <style>
        .cv-title { font-size: 14px; }
        .cv-content { font-size: 12px;  }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="lowercase"><strong>amadeusz janik</strong></h1>
      <h2 class="lowercase">analityk finansowy</h2>
              <ul class="skill-icons text-center">
        <li class="ion-clock"></li>
        <li class="ion-arrow-graph-up-right"></li>
        <li class="ion-calculator"></li>
        <li class="ion-card"></li>
        <li class="ion-ios-people"></li>
                  <li class="ion-folder"></li>
        <li class="ion-briefcase"></li>
        <li class="ion-calendar"></li>
      </ul>
        <p class="lowercase cv-title">
            ajanik00@gmail.com<br />
            73-110 stargard<br />
            tel. +48 606-340-849<br />
            <a href="">https://pl.linkedin.com/in/amadeusz-janik-322155138</a>
        </p><hr />
        <strong>doświadczenie</strong><br /><br />
        <p class="lowercase cv-title">
            kierownik działu analiz<br />
            <strong>miklewski consulting</strong> | 01-07-2016 – 01-08-2017<br />
            <span class="text-muted lowercase cv-content">
                <ul>
                    <li class="text-muted cv-content lowercase">koordynacja pracy działu analiz</li>
                    <li class="text-muted cv-content lowercase">weryfikacja analiz finansowych i ekonomicznych</li>
                    <li class="text-muted cv-content lowercase">weryfikacja wniosków o dofinansowanie, biznesplanów i studiów
                wykonalności</li>
                </ul>
            </span>
        </p>
        <p class="lowercase cv-title">
            specjalista ds. analiz finansowych<br />
            <strong class="lowercase">miklewski consulting</strong> | 01-07-2015 – 01-07-2016<br />
            <span class="text-muted lowercase cv-content">
                <ul>
                    <li class="text-muted cv-content lowercase">sporządzanie analiz finansowych i wycen przedsiębiorstw</li>
                    <li class="text-muted cv-content lowercase">sporządzanie analiz ekonomicznych</li>
                    <li class="text-muted cv-content lowercase">sporządzanie wniosków o dofinansowanie, biznesplanów i studiów wykonalności</li>
                    <li class="text-muted cv-content lowercase">sporządzanie analiz rynku</li>
                    <li class="text-muted cv-content lowercase">doradztwo w zakresie dotacji unijnych</li>
                    <li class="text-muted cv-content lowercase">udział w rozliczaniu projektów</li>
                    <li class="text-muted cv-content lowercase">wsparcie działań marketingowych</li>
                </ul>
            </span>
        </p>
        <p class="lowercase cv-title">
            analityk finansowy<br />
            <strong>praktyki</strong> | 01-07-2011 - 01-09-2014<br />
            <span class="text-muted lowercase cv-content">Raiffeisen Polbank, PKO BP</span>
        </p><hr />
        <strong>edukacja</strong><br /><br />
        <p class="lowercase cv-title">
            finanse i rachunkowość, specjalizacja: finanse przedsiębiorstw i
bankowość ( 1 stopień )<br />
            <strong>uniwersytet szczeciński wneiz</strong> | 2009 - 2012<br />
        </p>
        <p class="lowercase cv-title">
            informatyka i ekonometria, specjalizacja: wycena, zarządzanie i
obrót nieruchomościami ( 1 stopień )<br />
            <strong>uniwersytet szczeciński wneiz</strong> | 2011 – 2014<br />
        </p>
                <p class="lowercase cv-title">
            finanse i rachunkowość, specjalizacja: doradztwo finansowo-
księgowe ( 2 stopień )<br />
            <strong>uniwersytet szczeciński wneiz</strong> | 2012 – 2015<br />
        </p><hr />
        <strong>umiejętności</strong><br /><br />
                        <ul>
                    <li class="cv-content lowercase">bardzo dobra znajomość obsługi komputera</li>
                    <li class="cv-content lowercase">biegła znajomość pakietów biurowych: MS Office, Open Office, Libre Office</li>
                    <li class="cv-content lowercase">ukończone minimum programowe z zakresu wyceny nieruchomości, zarządzania nieruchomościami oraz pośrednictwa w obrocie nieruchomościami,</li>
                    <li class="cv-content lowercase">uczestnictwo w szkoleniach z zakresu sporządzania dokumentacji aplikacyjnych w ramach regionalnych programów operacyjnych</li>
                    <li class="cv-content lowercase">prawo jazdy kat. b, praktyka w prowadzeniu pojazdów 9 lat</li>
                </ul>
    </div>
  </body>
</html>
