<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Konrad Kur - Architect / Senior Python Developer</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/icons/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="../dist/css/style.min.css" rel="stylesheet">
    <style>
        .cv-title { font-size: 14px; }
        .cv-content { font-size: 12px;  }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="lowercase"><strong>audytor</strong></h1>
      <h2 class="lowercase">biuro rachunkowe</h2>
      <ul class="skill-icons text-center">
        <li class="ion-clock"></li>
        <li class="ion-arrow-graph-up-right"></li>
        <li class="ion-calculator"></li>
        <li class="ion-card"></li>
        <li class="ion-ios-people"></li>
                  <li class="ion-folder"></li>
        <li class="ion-briefcase"></li>
        <li class="ion-calendar"></li>
      </ul><hr /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><hr />
        <footer class="text-muted">os. zachód a/2/g/14, 73-110 Stargard, tel. 91 579 30 45 <a href="">audytor.stargard@gmail.com</a>
        </footer>
    </div>
  </body>
</html>
